<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <rewrite>
      <rules>
        <rule name="Allow Gradio API" stopProcessing="true">
          <match url="^gradio_api/(.*)$" />
          <action type="Rewrite" url="gradio_api/{R:1}" />
        </rule>
      </rules>
    </rewrite>
    <security>
      <authorization>
        <remove users="*" roles="" verbs="" />
        <add accessType="Allow" users="*" paths="/gradio_api/*" />
      </authorization>
    </security>
  </system.webServer>
</configuration>