* {
    font-family: 'Neo둥근모 Pro', sans-serif;
}

.contain>*:nth-child(1),
.tabs,
#chatbot-tab,
#chatbot-tab>.column,
#chatbot-tab>.column>.gr-group,
#chatbot-tab>.column>.gr-group>.styler,
#chatbot {
    flex-grow: 1 !important;
}

.contain>*:nth-child(1) {
    gap: 0;
}

footer {
    display: none !important;
}

.sidebar .spacer {
    height: 20px;
}

#chatbot-tab .html-container {
    background: var(--block-background-fill) !important;
}

#chatbot-tab .prose {
    text-align: center;
    color: var(--body-text-color-subdued);
    font-size: 0.8rem;
}

#chatbot-tab textarea {
    border-radius: var(--radius-lg);
}

#chatbot-tab button {
    margin-left: var(--spacing-xl);
}

#sidebar-logo,
#topbar-logo {
    margin: 0 auto 0 auto;
}

.sidebar-content,
.sidebar-content>.column {
    flex-grow: 1;
    height: 100%;
}

.tabs>.tab-wrapper {
    display: none;
}

#sidebar-logo img {
    height: 40px;
    cursor: pointer;
}

#topbar-logo img {
    height: 30px;
    cursor: pointer;
}

.hide-top-corner.icon-button-wrapper {
    display: none;
}

.sidebar-content,
.sidebar-content .html-container {
    background: var(--block-background-fill) !important;
}

#profile {
    margin-top: auto;
}

.gradio-container {
    min-width: var(--size-full) !important;
}

.profile-save-button {
    width: auto;
    margin-right: auto;
}