:root {
    --weight-bold: 500;
    --button-large-text-weight: 500;
}

* {
    font-family: 'Neo둥근모 Pro', Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.contain>*:nth-child(1),
.tabs,
#chatbot-tab,
#chatbot-tab>.column,
#chatbot-tab>.column>.gr-group,
#chatbot-tab>.column>.gr-group>.styler,
#chatbot {
    flex-grow: 1 !important;
}

.contain>*:nth-child(1) {
    gap: 0;
}

footer {
    display: none !important;
}

.sidebar .spacer {
    height: 20px;
}

#chatbot-tab .html-container {
    background: var(--block-background-fill) !important;
}

#chatbot-tab .prose {
    text-align: center;
    color: var(--body-text-color-subdued);
    font-weight: var(--weight-bold);
    font-size: 0.8rem;
}

#sidebar-logo, #topbar-logo {
    margin: 0 auto 0 auto;
}

.sidebar-content,
.sidebar-content > .column {
    flex-grow: 1;
    height: 100%;
}

.tabs > .tab-wrapper {
    display: none;
}

#sidebar-logo img {
    height: 40px;
}

#topbar-logo img {
    height: 30px;
}

.sidebar-content,
.sidebar-content .html-container {
    background: var(--block-background-fill) !important;
}

#profile {
    margin-top: auto;
}

.gradio-container {
    min-width: var(--size-full) !important;
}